@CHARSET "UTF-8";

#loginTabWrap{
	color: #fff;
	font-size: 14px;
	line-height:1.25;
	font-weight: bolder; 
	float:right;
	position:relative;
	margin: 5px 10px 10px;
	display: block;
}

#loginTabWrap a {
	border-radius:3px;
	padding: 5px;
	margin-right: 10px;
	
}
#LoginFormContainer{
	width:288px;
	height:321px;
	margin:0 auto;
	position:absolute;
	z-index:100;
	margin-top:15%;
	-moz-perspective: 800px;
	-webkit-perspective: 800px;
	perspective: 800px;
	display:none;
	left:40%;
}

#loginSearchWrap{
	width: 130px;
	margin: 0px;
	padding: 0px;
	float: right;
	display:block;
	margin-top: 5px;
}

.searchForm{
	width: 130px;
	margin: 0px;
	padding: 0px;
}
.searchForm input[type=search] {
	padding: 0px;
	margin:0px;
	position: relative;
	width: 110px;
	border-radius:0px;
}


.searchForm input[type=submit] {
	background-image: url("../images/search.png");
	background-size:100% 100%;
	background-repeat: no-repeat;
	padding: 0px;
	margin:0px;
	position: absolute;
	width: 20px;
	border-radius:0px;


}

#LoginFormContainer form{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	
	/* Enabling 3d space for the transforms */
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
	/* When the forms are flipped, they will be hidden */
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	
	/* Enabling a smooth animated transition */
	-moz-transition:0.8s;
	-webkit-transition:0.8s;
	transition:0.8s;
	
	/* Configure a keyframe animation for Firefox */
	-moz-animation: pulse 2s infinite;
	
	/* Configure it for Chrome and Safari */
	-webkit-animation: pulse 2s infinite;
}


/* Firefox Keyframe Animation */
@-moz-keyframes pulse{
	0%{		box-shadow:0 0 1px #008aff;}
	50%{	box-shadow:0 0 8px #008aff;}
	100%{	box-shadow:0 0 1px #008aff;}
}

/* Webkit keyframe animation */
@-webkit-keyframes pulse{
	0%{		box-shadow:0 0 1px #008aff;}
	50%{	box-shadow:0 0 10px #008aff;}
	100%{	box-shadow:0 0 1px #008aff;}
}

#login{
	background:url('../images/login_form_bg.jpg') no-repeat;
	z-index:100;
}

#recoverPassword{
	background:url('../images/recover_form_bg.jpg') no-repeat;
	z-index:1;
	opacity:0;
	
	/* Rotating the recover password form by default */
	-moz-transform:rotateY(180deg);
	-webkit-transform:rotateY(180deg);
	transform:rotateY(180deg);
}

#LoginFormContainer.flipped #login{
	
	opacity:0;
	
	/**
	 * Rotating the login form when the
	 * flipped class is added to the container
	 */
	
	-moz-transform:rotateY(-180deg);
	-webkit-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
}

#LoginFormContainer.flipped #recoverPassword{
	
	opacity:1;
	
	/* Rotating the recover div into view */
	-moz-transform:rotateY(0deg);
	-webkit-transform:rotateY(0deg);
	transform:rotateY(0deg);
}


/*----------------------------
	Inputs, Buttons & Links
-----------------------------*/


#login .flipLink,
#recoverPassword .flipLink{
	
	/* The blue ribbon links */
	
	height: 65px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 0;
    width: 65px;
}

#recoverPassword .flipLink{
	right:auto;
	left:0;
}
#recoverPassword #recoverEmail {
    top: 215px;
}

#login:after{
	/* The "Click here" tooltip */
	width:98px;
	height:16px;
	content:'';
	background:url('../images/click_here.png') no-repeat;
	position:absolute;
	right:-120px;
	top:22px;
}

#LoginFormContainer input[type=text],input[type=password]{
	/* The text fields */
	font: 15px 'Segoe UI',Arial,sans-serif;
	border: none;
	background:none;
	height: 36px;
	left: 26px;
	position: absolute;
	top: 176px;
	width: 234px;
	text-indent: 8px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	color:#eee;
	outline:none;
}

#loginPass{
	top: 215px;
}

#recoverPasswordEmail{
	top:215px;
}

#LoginFormContainer input[type=submit]{
	
	/* Submit button */
	
	opacity:0.9;
	position:absolute;
	top:262px;
	left:25px;
	width: 239px;
	height:36px;
	cursor:pointer;
	border-radius:6px;
	box-shadow:0 1px 1px #888;
	border:none;
	color:#fff;
	font:14px/36px 'Segoe UI Light','Segoe UI',Arial,sans-serif;
	
	/* CSS3 Gradients */
	
	background-image: linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	background-image: -o-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.5, rgb(80,102,127)),
		color-stop(0.5, rgb(87,109,136)),
		color-stop(1, rgb(106,129,155))
	);
}

#LoginFormContainer input[type=submit]:hover{
	opacity:1;
}

#LoginFormContainer input::-webkit-input-placeholder {
    color:#eee;
}

body{
background: url("../images/Dock-Street-Shop-785x490.jpg")no-repeat;
background-size:100%,100%;

}
.divider{
	height: 1px;
	width:46%;
	background-color: #fff; 
	position: absolute;
	opacity:0.5;
	
}
.d-alignl{
	top:6%;
	left:0%;
}
.d-alignr{
	top:6%;
	right:0%;
}
.logo{
	position:absolute;
	background-image: url("../images/Deathly_Hallows.png");
	background-size:100% 100%;
	background-repeat: no-repeat;
	height: 60px;
	width: 60px;
	left: 48%;
	top:2.5%;
box-shadow:black;
display: inline;
opacity:0.5;
}
